.card-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card:first-child {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 22%;
    height: calc(100vh - 4rem); /* subtract the top and bottom margin */
    box-sizing: border-box;
    margin: 2rem 0.5rem 2rem 2rem; /* top right bottom left */
    padding: 1rem; /* add padding */
    border-radius: 10px; /* round the corners */
    background-color: rgb(50, 50, 50);
  }
  
  .card:first-child:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card:last-child {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 78%;
    height: calc(100vh - 4rem); /* subtract the top and bottom margin */
    box-sizing: border-box;
    margin: 2rem 2rem 2rem 0.5rem; /* top right bottom left */
    padding: 1rem; /* add padding */
    border-radius: 10px; /* round the corners */
    background-color: rgb(50, 50, 50);
  }
  
  .card:last-child:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card h2, .card p {
    padding: 2rem;
  }

  .card img {
    display: block;
    margin: 2rem auto 1rem;
    width: 55%; /* make the image occupy the full width of the card */
    height: auto; /* keep the original aspect ratio */
    object-fit: cover; /* cover the entire content box, potentially cropping the image */
    border-radius: 10px; /* round the corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* add shadow */
  }

  .card p:first-of-type {
    text-align: center; /* center the text */
    font-size: 2rem; /* increase the font size */
    margin-top: 0.1rem;
    color: rgba(255, 255, 255, 0.805);
  }

  